// Ogre overlay scripts
#include <BasicOgreGuiTemplates.inc>


Ogrian/Menu/Overlay
{
	zorder 490
	
	container BorderPanel(Ogrian/Menu/BackPanel) : SS/Templates/BasicBorderPanel
	{
		left 0 
		top 0
		width 1
		height 1
		container BorderPanel(Ogrian/Menu/AvailableMapsListPanel) : SS/Templates/BasicBorderPanel
		{
			left 0.05 
			top 0.1
			width 0.5
			height 0.8
			material Core/StatsBlockCenter

			container List(Ogrian/Menu/AvailableMapsList)
			{
				item_template SS/Templates/BasicText
				v_spacing 0.005
				h_spacing 0.005
				left 0.0 
				top 0.0
				width 0.5
				height 0.8
				item_material_selected Examples/Hilite/Yellow
				material Core/StatsBlockCenter
				scroll_bar SS/Templates/ScrollBar
			}

		}
		    
		container BorderButton(Ogrian/Menu/Yinvert) : SS/Templates/BasicButton
		{
			left 0.6
			top 0.05
			width 0.4 
			caption SS/Templates/BasicText INV MOUSE (ON)
		}


		container BorderButton(Ogrian/Menu/Exit) : SS/Templates/BasicButton
		{
			left 0.6
			top 0.75
			width 0.2 
			caption SS/Templates/BasicText QUIT
		}
				

		container BorderButton(Ogrian/Menu/Load) : SS/Templates/BasicButton
		{
			left 0.6
			top 0.30
			width 0.3 
			caption SS/Templates/BasicText SKIRMISH
		}
				

		container BorderButton(Ogrian/Menu/Host) : SS/Templates/BasicButton
		{
			left 0.6
			top 0.45
			width 0.2 
			caption SS/Templates/BasicText host
		}
				

		container BorderButton(Ogrian/Menu/Disconnect) : SS/Templates/BasicButton
		{
			left 0.6
			top 0.45
			width 0.4 
			caption SS/Templates/BasicText DISCONNECT
		}
				

		container BorderButton(Ogrian/Menu/Join) : SS/Templates/BasicButton
		{
			left 0.6
			top 0.60
			width 0.2 
			caption SS/Templates/BasicText Join
		}
				

		container TextArea(Ogrian/Menu/Text) : SS/Templates/BasicText
		{
			left 0.0
			top 0.0
			width 1
   			caption OGRIAN    CARPET    0.5
		}

	}
	
}

