// Ogre overlay scripts
#include <BasicOgreGuiTemplates.inc>


Ogrian/HUD/Overlay
{
	zorder 450

	container TextArea(Ogrian/HUD/Health) : SS/Templates/BasicText
	{
		left .01
		top .9
		width .25
   		caption Health: 100
	}

	container TextArea(Ogrian/HUD/Score) : SS/Templates/BasicText
	{
		left .75
		top 0
		width .25
   		caption Score: 999
	}
	
	container Panel(Ogrian/HUD/Crosshair)
	{
		left .45 
		top 0.45
		width .1
		height .1
		material Ogrian/Crosshair
	}
	
}

