// Ogre overlay scripts
#include <BasicOgreGuiTemplates.inc>


Ogrian/HUD/Overlay
{
	zorder 450

	container TextArea(Ogrian/HUD/Health) : SS/Templates/BasicText
	{
		left .01
		top .8
		width .25
   		caption Health: 100
	}

	container TextArea(Ogrian/HUD/Mana) : SS/Templates/BasicText
	{
		left .01
		top 0.9
		width .25
   		caption mana
	}
	
	container TextArea(Ogrian/HUD/Message) : SS/Templates/BasicText
	{
		left .01
		top 0.7
		width .95
		caption Message
	}
	
	container Panel(Ogrian/HUD/Crosshair)
	{
		left .45 
		top 0.45
		width .1
		height .1
		material Ogrian/Crosshair
	}

	container TextArea(Ogrian/HUD/SpellName) : SS/Templates/BasicText
	{
		left .01
		top 0.11
		width .95
		caption Spell Name
	}
	
	container Panel(Ogrian/HUD/SpellIcon/0)
	{
		left .0
		top 0
		width .1
		height .1
		material Ogrian/Crosshair
	}
	container Panel(Ogrian/HUD/SpellIcon/1)
	{
		left .1
		top 0.0
		width .1
		height .1
		material Ogrian/Crosshair
	}
	container Panel(Ogrian/HUD/SpellIcon/2)
	{
		left .2
		top 0
		width .1
		height .1
		material Ogrian/Crosshair
	}
	container Panel(Ogrian/HUD/SpellIcon/3)
	{
		left .3
		top 0
		width .1
		height .1
		material Ogrian/Crosshair
	}

}

